<div class="p-5 rounded-lg m-3">
  <h1 class="display-4">Bem vindo ao blog do Node!</h1>
  <p class="lead">This is an blog developed with Node.js + Express + Handlebars</p>
  <hr class="my-4">
  <p>Here you can read about news from the world of computing</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Create your account</a>
</div>

<hr>

<h2>Recents posts</h2>

{{#each postagens}}
<div class="card mt-4">
  <div class="card-body">
    <h3>{{titulo}}</h3>
    <p>{{descricao}}</p>
    <a href="/postagens/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
    <hr>
    <small>Categoria: {{categoria.nome}}</small>
    <br>
    <small>Data de publicação: {{categoria.date}}</small>
  </div>
</div>

{{else}}
  <h5>No posts</h5>
{{/each}}